@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VazirMatn";
  font-weight: 100;
  src: url("./assets/fonts/Vazirmatn-Thin.woff2");
}

@font-face {
  font-family: "VazirMatn";
  font-weight: 200;
  src: url("./assets/fonts/Vazirmatn-ExtraLight.woff2");
}

@font-face {
  font-family: "VazirMatn";
  font-weight: 300;
  src: url("./assets/fonts/Vazirmatn-Light.woff2");
}

@font-face {
  font-family: "VazirMatn";
  font-weight: 400;
  src: url("./assets/fonts/Vazirmatn-Regular.woff2");
}

@font-face {
  font-family: "VazirMatn";
  font-weight: 500;
  src: url("./assets/fonts/Vazirmatn-Medium.woff2");
}

@font-face {
  font-family: "VazirMatn";
  font-weight: 600;
  src: url("./assets/fonts/Vazirmatn-SemiBold.woff2");
}

@font-face {
  font-family: "VazirMatn";
  font-weight: 700;
  src: url("./assets/fonts/Vazirmatn-Bold.woff2");
}

@font-face {
  font-family: "VazirMatn";
  font-weight: 800;
  src: url("./assets/fonts/Vazirmatn-ExtraBold.woff2");
}

@font-face {
  font-family: "VazirMatn";
  font-weight: 900;
  src: url("./assets/fonts/Vazirmatn-Black.woff2");
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

body {
  font-family: "VazirMatn", sans-serif;
  direction: rtl;
}

#root {
  height: 100%;
}

.dir-ltr {
  direction: ltr !important;
}

.dir-rtl {
  direction: rtl !important;
}

.test {
  color: #38c67d;
}